.linksFooter{
  color:black;
  font-size: 17px;
}
.footerLinks{
  gap: 15px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  a{
    min-width: 100px;
    text-align: center;
  }
}
.footerCont{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
