.container1 {
  display: flex;
  justify-content: space-evenly;
}

.box {
  height: 70%;
  border: 1px solid rgb(35, 109, 198);
  width: 30%;
  margin: 2%;
  padding: 2%;
}
.profileimg {
  height: 30vh;
}
/* h1 {
  color: rgb(35, 109, 198);
  text-align: center;
} */
.js-form {
  font-size: 1.5vh;
}

.inputForm {
  text-align: center;
  font-size: 2vh;
  margin-bottom: 1vh;
  margin-top: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.orderCard-btn {
  background: rgb(35, 109, 198);
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 1%;
  padding: 1%;
  font-size: 1.5vh;
  font-weight: 100;
  letter-spacing: 10px;
  border-radius: 4px;
  -webkit-appearance: none;
}
*/ .orderCard-btn:hover {
  background: rgb(212, 239, 244);
  color: black;
}

.table-div {
  display: flex;
  justify-content: center;
}

.h3-orders {
  background-color: #d8e3ed;
  color: rgb(8, 0, 0);
  cursor: pointer;
  padding: 1%;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
  /* line-height: 30px; */
  /* transition: 0.4s; */
}

.orders-div {
  vertical-align: top;
  width: 100%;
}

.tr-orders {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0;
  text-align: left;
}

.order-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  height: 100%;
  width: 100%;
}

.h4-div {
  text-align: center;
}
