legend.css-14lo706{
  width:130px
}
form.MuiBox-root.css-13r4j3i{
legend.css-14lo706{
  width:60px
}
}
.css-1e7cuzv-MuiFormControl-root {
  legend.css-14lo706{
    width:120px
  }
}
.formsCallForm {
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  margin:10px;
  .CallForms{
    display: inline-flex;
    align-items: center;
  }
}
@media(max-width: 851px){
  .CallForms {
    flex-direction: column;
  }
  }

.css-1t93dqf-MuiFormControl-root{
  legend.css-14lo706{
    width:130px
  }
}
.callFormButton{
  height: 40px;

}
.CallForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .componentHeader{
    text-align: center;
    margin:10px;
  }
}
