legend.css-14lo706{
  width:130px
}
form.MuiBox-root.css-13r4j3i{
legend.css-14lo706{
  width:60px
}
}
.css-1e7cuzv-MuiFormControl-root {
  legend.css-14lo706{
    width:120px
  }
}
.formsCallForm {
  display: inline-flex;
  align-items: center;
}
.css-1t93dqf-MuiFormControl-root{
  legend.css-14lo706{
    width:130px
  }
}
.callFormButton{
  height: 40px;

}
