legend.css-14lo706{
  width:130px
}
form.MuiBox-root.css-13r4j3i{
legend.css-14lo706{
  width:60px
}
}
.css-1e7cuzv-MuiFormControl-root {
  legend.css-14lo706{
    width:120px
  }
}
.CallForm {
  display: inline-flex;
}

