.NonstandartForm{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
  legend.css-14lo706{
    width:80px;
  }
}

.nonstandart{
  .componentHeader{
    text-align: center;
    margin:30px;
    
  }
  p{
    min-width:60%;
    max-width: 75%;
    text-align: justify;
    text-indent: 30px;
  }
  .textBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
  }
}

.phoneNumberInput{
  width:200px;
  border-radius: 4px;
  height:56px;
  padding:10px;
  font-size: 1rem;
  border:1px solid rgb(203, 203, 203);
  color:rgb(133, 133, 133);
}

.nonstandart-p {
  text-align: justify;
    width: 700px;
}
