.button-logout {
  /* display: block; */
  background: rgb(35, 109, 198);
  /* background-color: rgb(112, 112, 203); */
  font-size: 20px;
  color: lightblue;
  border: none;
  padding: 5px 20px;
  /* border-radius: 4px; */
  margin-top: 0px;
  /* margin-right: 90px; */
}
.button-logout:hover {
  text-decoration: underline;
  color: rgb(212, 239, 244)
}

.nav {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-evenly;
  height: 80px;
}

.links {
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: 20px;
  color: lightblue;
  text-decoration: none;
} 
.links:hover {
  text-decoration: underline;
  color: rgb(212, 239, 244)
}

#main {
  color: black;
}

@media(max-width: 530px){
  .nav {
    width: auto;
    height: auto;
  flex-direction: column;
  }
  .button-logout {
    margin-right: 0;
  }
  }
  