.cc-form {
  max-width: 500px;
  margin: 0 auto;
}
.cc-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid blue;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
.cc-submitButton,
.cc-inputSubmit {
  background: blue;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  border-radius: 4px;
  -webkit-appearance: none;
}
button[class='cc-submitButton']:hover,
input[class='cc-inputSubmit']:hover {
  background: #bf1650;
}
button[class='cc-submitButton']:active,
input[class='cc-inputSubmit']:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}
input[class='cc-inputSubmit']:disabled {
  opacity: 0.4;
}
.cc-formP {
  color: #bf1650;
}
.cc-formP ::before {
  display: inline;
  content: '⚠ ';
}
.cc-formLabel {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 200;
}

.cc-formLabelM {
  line-height: 2;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 14px;
}
.inputservices {
  /* display: flex; */
  /* flex-flow: row nowrap; */
  justify-content: flex-start;
  height: 50%;
}
